@CHARSET "UTF-8";
li, p, span {
    font: 14px/1 Tahoma,Helvetica,Arial,"宋体",sans-serif;
}
/* 头部样式 */

ul, ol {
    list-style: outside none none;
}
.header{
	margin:0 auto;
	text-align:left;
	width:900px;
	height:113px;
}

.header .logo{
	background: rgba(0, 0, 0, 0) url("") no-repeat scroll 0 0;
    height: 87px;
    margin: 10px 0 0 10px;
    width: 326px;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.header h2 {
    clear: both;
    color: #88020c;
    font-family: "微软雅黑";
    font-size: 16px;
    height: 23px;
    margin-top: 35px;
}

.header .top_nav li a {
	cursor: pointer;
	color:#88020c;
	margin-left:10px;
	text-decoration: none;
}
/*内容样式*/
.content {
	margin:0 auto;
	height:600px;
	width:900px;
}
.content_left {
	/* background:#88020c; */
	float:left;
	height:600px;
	width:300px;
}
.content_right {
	/* background:#639a63; */
	float:right;
	height:600px;
	width:600px;
}
.step_l li {
	cleal:both;
	height:30px;
	line-height:30px;
}
.step_l li span {
	background:#858585 none repeat scroll 0 0;
	display: inline-block;
	color: #fff;
	width:17px;
	height:18px;
    text-align: center;
	line-height: 18px;
}
.step_l li.curr span {
	background: #ffae00 none repeat scroll 0 0;
    color: #000;
}
.step_l li.curr a {
    color: #146928;
    font-weight: bold;
}
