<div class="top-menu-wrap">
<div style="position: relative" class="container"><!-- logo -->
<div class="logo hidden-xs"><a href="/myZs/index.php/Index/index.shtml"></a></div>
<!-- end logo --> <!-- 导航 -->
<div class="top-nav navbar">
<div class="navbar-header">
<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle pull-left"><span class="icon-bar"></span>
<span class="icon-bar"></span> <span class="icon-bar"></span></button>
</div>
<nav class="collapse navbar-collapse bs-navbar-collapse active" role="navigation">
<ul class="nav nav-pills ml30 mt10">
	<li><a class="active" href="/myZs/index.php/Index/index.shtml" target="_self">动态</a></li><li><a href="/myZs/index.php/Index/alltag.shtml" target="_self">标签</a></li>	</ul>
</nav></div>
<!-- end 导航 --> 
<div class="user-nav"><a href="/myZs/index.php/User/login.shtml" class="login btn btn-normal btn-primary">登录</a> <a href="/myZs/index.php/User/register.shtml" class="register btn btn-normal btn-success">注册</a></div> <!-- 搜索框 -->
<div class="search-box  ">
<form method="post" id="global_search_form" action="/myZs/index.php/Index/search.shtml" class="navbar-search">
	<input type="text" value="" id="keyword" name="keyword" autocomplete="on" placeholder="搜索" class="form-control search-query"> 
	<span onclick="$('#global_search_form').submit();" id="global_search_btns" title="搜索">
	<i class="icon icon-search"></i></span></form>

</div>
<!-- end 搜索框 --></div>
</div>


